version: '3'

services:
  nuster_cache:
    hostname: nuster_cache
    container_name: nuster_cache
    ports:
      - 8081:8080
    restart: "no"
    volumes:
      - ./Dockerfiles/nuster/nuster.cfg:/etc/nuster/nuster.cfg:ro
    build:
      context: .
      dockerfile: Dockerfiles/nuster/Dockerfile
  openresty_proxy:
    hostname: openresty_proxy
    container_name: openresty_proxy
    ports:
      - 8082:80
    restart: "no"
    build:
      context: .
      dockerfile: Dockerfiles/openresty/Dockerfile