---
# Delete target user along with home directory
- name: Delete user
  become: true
  ansible.builtin.user:
    name: "{{ item.name }}"
    state: absent
    remove: true
  with_items: "{{ del_users }}"
