---
- name: Check kernel version
  ansible.builtin.fail:
    msg: "Kernel {{ ansible_kernel }} is not supported."
  when: ansible_kernel is version('3.10', '<')

- name: Install Docker (Amazon Linux)
  become: true
  ansible.builtin.yum:
    name: docker
    state: present
