---
- name: Create users
  become: true
  ansible.builtin.user:
    name: "{{ item.name }}"
    state: present
    password: "{{ item.password }}"
    groups: "{{ item.groups }}"
  with_items: "{{ users }}"
  tags: users

- name: Create .ssh directory for users
  become: true
  ansible.builtin.file:
    path: "/home/{{ item.name }}/.ssh"
    state: directory
    owner: "{{ item.name }}"
    group: "{{ item.name }}"
    mode: "0700"
  with_items: "{{ users }}"
  tags: users

- name: Deploy authorized keys
  become: true
  ansible.builtin.copy:
    src: authorized_keys
    dest: "/home/{{ item.name }}/.ssh/authorized_keys"
    owner: "{{ item.name }}"
    group: "{{ item.name }}"
    mode: "0600"
  with_items: "{{ users }}"
  tags: users

- name: Configure passwordless sudo for wheel group
  become: true
  ansible.builtin.lineinfile:
    dest: /etc/sudoers
    backup: true
    line: "%wheel ALL=(ALL) NOPASSWD: ALL"
